@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

body {
  transition: background 0.7s;
}
.search,
input,
select {
  transition: background 0.7s;
}
* {
  font-family: 'Pretendard Variable' !important;
  vertical-align: middle;
  border: none;
  margin: 5px;
  margin: 0 auto;
  text-align: center;
  font-size: 17pt;
}
p {
  text-align: right;
  position: absolute;
  right: 0;
  margin: 5px;
  bottom: 0;
}
*:focus {
  outline: none;
}
.search {
  border: 3px solid #000000;
  width: max-content;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  margin-top: 7vh;
  background-color: transparent !important;
}
input {
  border: none;
  font-size: 17pt;
}
button {
  border: 2px solid #000000;
  border-radius: 15px;
  margin-top: 6vh;
  font-size: 15px;
}
#search {
  margin-top: 0;
}
button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
select {
  background: transparent !important;
}
h2 {
  font-size: 17pt;
  text-align: center;
  margin-top: 5vh;
  width: max-content;
  height: min-content;
}

html.dark button {
  border: 2px solid #f1f1f1;
  color: #000000;
}
html.dark button:hover {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 10px;
}
html.dark * {
  color: #f1f1f1;
}
html.dark .search {
  border: 3px solid #f1f1f1;
  background-color: #000000;
}
html.dark input,
html.dark select {
  background-color: #000000;
}
html.dark body {
  background-color: #000000;
}

body {
  position: relative;
  height: 100vh;
}
body:before {
  content: '';
  position: absolute;
  left: -320%;
  top: -320%;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #ff512f 0%,
    rgba(255, 255, 255, 0) 70%
  );
  /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #ff512f 0%,
    rgba(255, 255, 255, 0) 70%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #ff512f 0%,
    rgba(255, 255, 255, 0) 70%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff512f", endColorstr="#00ffffff",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
span {
  margin-bottom: 100px !important;
}
body .toggles label#togglelabel {
  font-size: 1em;
  display: inline-block;
  margin-top: 12px;
  margin-right: 10px;
  padding: 3px;
  border-radius: 10px;
}
body .toggles .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  margin-top: 10px;
}
body .toggles .switch input {
  display: none;
}
body .toggles .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body .toggles .slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body .toggles input:checked + .slider {
  background-color: #ff512f;
}
body .toggles input:focus + .slider {
  box-shadow: 0 0 1px #ff512f;
}
body .toggles input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}
body .toggles .slider.round {
  border-radius: 34px;
}
body .toggles .slider.round:before {
  border-radius: 50%;
}
body h1 {
  color: #fff;
  bottom: 0;
  background: #ff512f;
  padding: 0.5em;
  right: -1em;
  letter-spacing: 2px;
  box-shadow: 4px 4px 0px #fff;
}
body h1:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 26px 0 0;
  border-color: #ff512f transparent transparent transparent;
  right: 0px;
  bottom: -23px;
}
