button {
  border: 2px solid #f1f1f1;
  color: #000000;
}
button:hover {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 10px;
}
body {
  background-color: #000000;
}
* {
  color: #f1f1f1;
}
.search {
  background-color: #000000;
  border: 3px solid #f1f1f1;
}
#school,
#select {
  background-color: #000000;
}
